:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
  --error-color: rgb(235, 92, 92);
}

html {
  font-size:16px;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.header {
  background-image: url("../img/top-image.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 8.31rem;
}

.content {
  display: flex;
  padding: 0 3.7rem 0 7.68rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0rem;
  }

  
  .col-1 {
    width: 30.87rem;
    
  }
  
.col-1__title {
  color: var(--purple);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.37rem;
  letter-spacing: 0.105em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

table {
  width: 100%;
  margin-bottom: 2.875rem;
  table-layout: fixed;
}

th {
  color: var(--text-color);
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.31rem;
  text-transform: capitalize;
}

td {
  color: var(--black);
  font-weight: 400;
  font-size: 4rem;
  line-height: 6.75rem;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.col-1__desc {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.col-1__bt-subscribe {
  background: var(--purple);
  border-radius: 0.8rem;
  margin: auto;
  height: 2.87rem;
  width: 10rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.col-2 {
  background-image: url("../img/rocket.svg");
  height: 27.18rem;
  background-repeat: no-repeat;
  width: 37.93rem;
}

.footer {
  background-image: url("../img/bottom-image.svg");
  background-repeat: no-repeat;
  height: 14.31rem;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.modal-wrapper {
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  display: none;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.modal__modal-content {
  align-items: center;
  background-color: #fff ;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display:flex;
  justify-content: center;
  margin: auto;
  padding: 1rem 2rem;
  width: 30%;
}

.modal__modal-form {
  width: 100%;
}

.form__title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom:1.5rem;
}

.form__input-name, .form__input-email {
  width: 100%;
  border: solid 1px #C8C8C8;
  border-radius: 0.5rem;
  display: flex;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.form__btn-subcribe {
  color: #fff;
  background: var(--purple);
  border-radius: 0.4rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

#emailError {
  color: var(--error-color);
  display: none;
  font-size: 0.8rem;
}

#emailError.visible {
  display: block;
}


@media screen and (max-width: 678px) {
  
  .content {
    display: block;
    padding: 1rem;
    justify-content: center;
  }
  .col-1 {
    width: 100%;
    margin: auto auto 2rem;
  }

  table {
    width: 95%;
  }
  
  td {
    font-size: 3rem;
    line-height: 4rem;
  }
  
  .col-2 {
    height: 18rem;
    background-size: contain;
    width: 100%;
  }
}






